
body {
    font-family: Arial, Helvetica, sans-serif;
}
header img{
    width: 20px;
    height: 20px;
    padding-right: 1em;
}
.backgound0{

    display: flex;
    justify-content: center;
    background-color: yellow;
    border-radius:40%;
    order: 2;

}
.backgound1{

    display: flex;
    justify-content: center;
    background-color: yellow;
    border-radius:40%;
    order: 0;
    
}
.backgound2{

    display: flex;
    justify-content: center;
    background-color: yellow;
    border-radius:40%;
    order: 1;
}
.backgound3{

    display: flex;
    justify-content: center;
    background-color: yellow;
    border-radius:40%;
    order: 3;
    
    
}
.backgound4{

    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 7);
    border-radius:40%;
    order: 4;
}
header {
    margin: 1em;
    display: flex;
    padding: 1em;
    justify-content: center;
    gap: 10px;
    background-color: rgba(255, 192, 203, 0.214);
    border-radius: 30%;

    
}
header p {
    display: flex;
    padding: 1em;
    
}